*{
    margin: 0;
    padding: 0;
}

.banner{
    background: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 15vw;
}